* {
    box-sizing: border-box;
}
.clicked {
    background-color: black;
    color: rgb(252, 111, 95);
}
.unclicked {
    background-color: aqua;
    color: black;
}
img {
    width: 200px;
    height: auto;
}